.toggle-button{
    -fx-background-color:transparent;
    -fx-padding: 0px;
}

.toggle-button:selected{
    /*-fx-background-color:#1a237e;*/
    -fx-opacity: 0.5;
}

.toggle-button:hover {
    -fx-opacity: 0.5;
}